<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Invoke-Build" version="5.6.5" targetFramework="net472" developmentDependency="true" />
  <package id="SciChart" version="6.2.1.13304" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="UnityEngine" version="1.0.0" targetFramework="net472" />
  <package id="UnityEngine5" version="5.5.0" targetFramework="net472" />
</packages>